<header id="page-header">
  <div id="masthead">
    <h1><%= link_to 'Flix', root_path %></h1>
  </div>
  <nav id="mail-to-link">
  	<%= mail_to("brooksbrisbane@gmail.com", 'Enquiries') %>
  </nav>
</header>
